<header id="myHeader">

    <nav class="navbar">
        
            <a href="">
                <span>
                    <img src="../assets/team-1.jpg" alt="">
                </span>
                <h1>simone olivia</h1>
            </a>
            <div class="nav-link">
                <ul class="navigation">
                    <li><a class="#" href="">Home</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">What I Do</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <ul class="social">
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf17d;</i>
                    </a></li>
                    <li><a href=""><i class="fa fa-twitter" style="font-size:24px"></i>
                    </a></li>
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf09a;</i>
                    </a></li>
                    <li><a href=""><i style="font-size:24px" class="fa">&#xf09b;</i>
                    </a></li>
                  
                    
                </ul>
            </div>
      
    </nav>

</header>