<header id="myHeader">

    <nav class="navbar">
        
            <a href="">
                <span>
                    <img src="	https://harnishdesign.net/demo/react/simone/demo/images/profile.jpg" alt="">
                </span>
                <h1>simone olivia</h1>
            </a>
            <div class="nav-link">
                <ul class="navigation">
                    <li><a class="#" href="">Home</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">What I Do</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
      
    </nav>

</header>