<section class="about">
    <div class="container">
        <h2 class="title">Know Me More</h2>
        <div class="row">
            <div class="col-8">
                <h5>I'm  <span>Vinay Kumar</span>a Web Developer</h5>
                <p>I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                    Delivering work within time and budget which meets client’s requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.</p>
            </div>
            <div class="col-4">
                <ul class="list">
                    <li><label>Name: </label><span>Lorem, ipsum.</span></li>
                    <li><label>Email: </label><span>Lorem, ipsum.</span></li>
                    <li><label>Age: </label><span>Lorem, ipsum.</span></li>
                    <li><label>From: </label><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias vel
                            fuga provident voluptatum illum neque, tempore harum dolorum accusantium rerum atque quia
                            vero beatae repellendus adipisci aperiam ipsa. Obcaecati, sapiente.</span></li>
                </ul>
                <button class='Btn'>Download CV</button>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3>10+</h3>
                    <span>Years Experiance</span>
                </div>
                <div class="col-3">
                    <h3>250+</h3>
                    <span>Happy Clients</span>
                </div>
                <div class="col-3">
                    <h3>650+</h3>
                    <span>Projects Done</span>
                </div>
                <div class="col-3">
                    <h3>38+</h3>
                    <span>Get Awards</span>
                </div>
            </div>
        </div>
    </div>
</section>