<section class="about ">
    <div class="container">
        <h2 class="title">Know Me More</h2>
        <div class="row">
            <div class="col-8 about-content about-mobile about-phone about-mobile1">
                <h2>I'm  <span>Vinay Kumar, </span>a Web Developer</h2>
                <p class="para1">I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                  <p class="para2">  Delivering work within time and budget which meets client’s requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.</p>
            </div>
            <div class="col-4 about-list about-mobile about-phone about-mobile1">
                <ul class="list">
                    <li><label>Name: </label><span>Vinay Kumar</span></li>
                    <li><label>Email: </label><span class="email">vinat@gmail.com</span></li>
                    <li><label>Age: </label><span>21</span></li>
                    <li><label>From: </label><span>Los Angeles, California</span></li>
                </ul>
                <div class="btn">
                    <a href="">Download CV</a>
                </div>
            </div>
            <div class="col-12">
                <div class="col-3 about-tab about-exp">
                    <div class="about-year">
                    <h4>10+</h4>
                    <span>Years Experiance</span>
                </div>
                </div>
                <div class="col-3 about-tab about-exp">
                    <div class="about-year">

                    <h4>250+</h4>
                    <span>Happy Clients</span>
                </div>
                </div>
                <div class="col-3 about-tab about-exp">
                    <div class="about-year">

                    <h4>650+</h4>
                    <span>Projects Done</span>
                </div>
                </div>
                <div class="col-3 line about-tab about-exp ">
                    <div class="about-year">

                    <h4>38+</h4>
                    <span>Get Awards</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>