h2.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    position: relative;
    margin:80px 0;
    font-weight:600;
  }
  h2.title::after {
    z-index: 9999;
    content:'ABOUT ME';
    position: absolute;
    font-size: 132px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ddd;
    opacity: 0.4;
    top:50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }