<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-6 copyright-tab copyright-mobile">
                <div class="copy">
                    © Copyright <strong> <span>VINAY</span></strong>. All Rights Reserved
                </div>
            </div>
            <div class="col-6 copyright-mobile">
                <ul class="footer-right">
                    <li class="footer-item"><a href=""></a>Terms & Policy <span>|</span>Disclaime</li>
                </ul>
            </div>
        </div>
    </div>
</section>