<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section >
    <div class="container">
        <h2 class="title">What I Do?</h2>
        <div class="row">
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">
                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>Graphic Design</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                </div>

            </div>
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">

                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>Web Design</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>

                </div>
            </div>
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">

                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>UI/UX Design</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>

                </div>

            </div>
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">

                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>App Design & Develop</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>

                </div>

            </div>
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">

                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>Business Analysis</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>

                </div>

            </div>
            <div class="col-6 service-mobile service-tab">
                <div class="service-page">
                    <div class="box-icon">
                        <i class="material-icons">&#xe40a;</i>
                    </div>
                    <h3>SEO Marketing</h3>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                    
                </div>

            </div>
        </div>
    </div>
</section>
