h2.title::after{
    content:'CONTACT';
  
  }
  .form-name input{
    width:100%;
    padding:20px;
    margin:12px 0;
    border-radius: 5px;
    border:1px solid #ddd;
    background-color: #fff;

  }
  
  textarea{
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    border:1px solid #ddd;
    background-color: #fff;
    resize: none;
  }
  .form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:45px;
  }
  .form-btn{
    background: #20C997;
    border: 0;
    padding: 20px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
  
  }
  .contact-address h2{
    margin: 0 0 16px;
    color:#252b33;
    font-size: 21px;
  }
  .contact-address .floor{
    margin:0 0 24px;
    font-size: 16px;
    color:#4c4d4d;
  }
  .contact-address span{
    color: #20C997;
    margin: 0 0 4px;
  }
  .contact-address p{
    margin: 0 0 4px;
  }
  .contact-address .follow{
    margin: 24px 0 16px 0;
  }
  .social li{
    display:inline;
    margin:10px;
  
  }
  .social li i{
    color:#252b33
  }