<section class="resume">
    <div class="container">
        <h2 class="title">Resume</h2>
        <div class="row">
            <div class="col-6 resume-head resume-mobile resume-tab">
                <h2>My Education</h2>
                <div class="resume-content ">
                    <p><span>2000 - 2004</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
                <div class="resume-content ">
                    <p><span>2005 - 2008</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
                <div class="resume-content ">
                    <p><span>\2009 - 2012</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
            </div>
            <div class="col-6 resume-head resume-mobile resume-tab">
                <h2>My Experience</h2>
                <div class="resume-content">
                    <p><span>2012 - 2013</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
                <div class="resume-content">
                    <p><span>2014 - 2016</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
                <div class="resume-content">
                    <p><span>2000 - 2004</span></p>
                    <h3>Computer Science</h3>
                    <p class="para">International University</p>
                    <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
            </div>
        </div>
        <h2 class="skill-heading">My Skills</h2>
        <div class="row">
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">Web Design</span>
                    <span class="last">65%</span>
                    <div class="skill"><span style="width:65%"></span></div>
                </div>
            </div>
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">HTML/Css</span>
                    <span class="last">95%</span>
                    <div class="skill"><span style="width:95%"></span></div>
                </div>
            </div>
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">JavaScript</span>
                    <span class="last">80%</span>
                    <div class="skill"><span style="width:80%"></span></div>
                </div>
            </div>
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">React Js</span>
                    <span class="last">70%</span>
                    <div class="skill"><span style="width:70%"></span></div>
                </div>
            </div>
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">Angular Js</span>
                    <span class="last">66%</span>
                    <div class="skill"><span style="width:66%"></span></div>
                </div>
            </div>
            <div class="col-6 skill-progress resume-mobile resume-tab">
                <div class="resume-progress">
                    <span class="first">Bootstrap</span>
                    <span class="last">99%</span>
                    <div class="skill"><span style="width:99%"></span></div>
                </div>
            </div>
        </div>
        <div class="btn">
            <a href="">Download CV</a>
        </div>
    </div>
</section>